/* body {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Quicksand', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
} */
 html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        /* background: #eee; */
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 330px;
        object-fit: cover;
      }
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: black;
   
  }
li {
    display: block;
    float: right;
    padding: 20px 25px;
    text-decoration: none;
    /* padding: 20px 160px; */
    /* margin: 0px 10px 5px 150px; */
}
li:first-child{
    color: aliceblue;
    float: left;
}
li:last-child {
    float: right;
    /* padding-right: 10px; */
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover {
    background-color: #04AA6D;
}
li:hover a{
    text-decoration: none;
    color: #111111;
}
.set-content{
    margin-top: 50px!important;
}
.inner-box {
    height: 400px;
    width: 300px;
    background-color: #F5F5F5;
    border-style: solid black;
    border-width: 1px;
}
/* .column{
    margin-bottom: 50px;
    text-align: center;
}
.column .image {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}
.image img {
    height: 250px;
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 3px solid #fbca00;
}
.set-content .inner-box h3{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: 500;
    transition: 0.5s;
    color: #222222;
}
.inner-box p {
    color: #848484;
    font-size: 16px;
    margin-bottom: 40px; 
}
.image h3 p{
    text-decoration: none;
}
.kode-text:hover h3 {
    text-decoration: none;
    color: #73b21a;
}
.inner-box:hover p{
    text-decoration: none;
    
} */
.books-listing-4 {
    float: left;
    width: 100%;
    padding: 0px 30px 200px 30px;
    border: solid 1px #d8d8d8;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.books-listing-4 .kode-thumb {
    box-shadow: none;
}
.books-listing-4 .kode-thumb {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    border: solid 1px #d8d8d8;
    
}
.kode-thumb img{
    height: 250px;
    position: relative;
    display: block;
    width: 100%;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.home-combo .kode-text {
    height: 80px;
}
.books-listing-4 .kode-text {
    float: left;
    width: 100%;
}
.books-listing-4 .kode-text h3 {
    font-size: 18px;
    margin: 0px 0px 14px 0px;
}
.kode-text:hover h3 {
    text-decoration: none;
    color: #73b21a;
}
.books-listing-4 .book-price {
    position: absolute;
    left: 0px;
    width: 100%;
    border-top: solid 1px #d8d8d8;
    padding: 8px 12px;
    bottom: 0px;
}
.real-price {
    font-size: 19px;
    color: #bb0000;
    font-weight: bold;
}
.float-right {
    float: right !important;
}

footer .copyright {
    color: #848484;
    background: #1d1d1d;
    padding: 25px 0;
    text-align: center;
}
footer .copyright span strong {
    font-weight: 300;
    color: #73b21a;
}